{% extends "admin/index.twig" %}

{% block page %}
    <section class="widget left" id="list">
        <header>
            Users
        </header>
        <table class="widget-body">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="/admin/user/{{ user.id }}/edit" class="btn">Edit details</a>
                        <a href="/admin/user/{{ user.id }}/delete" class="btn red">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="widget right" id="create-form">
        <header>Create new user</header>
        <article>
            <form action="/admin/user/create" method="post">

            </form>
        </article>
    </section>
{% endblock %}
