{% extends "@admin/layout.twig" %}

{% block page %}
    {% set can_create = current_user.hasPermission('user.create') %}
    {% set can_delete = current_user.hasPermission('user.delete') %}

    <div class="flex items-start">
        <section class="card flex-auto mr2">
            <h1><i class="fa fa-group"></i> Users</h1>
            <table class="hover bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="center">{{ user.id }}</td>
                        <td class="center">{{ user.username }}</td>
                        <td class="center">{{ user.email }}</td>
                        <td class="clearfix right">
                            <a href="/admin/user/{{ user.id }}" class="btn action">
                                <i class="fa fa-pencil"></i>Edit
                            </a>
                            {% if can_delete %}
                                <a href="/admin/user/{{ user.id }}/delete" class="btn action danger">
                                    <i class="fa fa-recycle"></i>Delete
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        {% if can_create %}
            <section class="card col-5">
                <h1><i class="fa fa-user-plus"></i> Create new user</h1>
                <article class="card-body">
                    <form action="/admin/user/create" method="post" autocomplete="off">

                    </form>
                </article>
            </section>
        {% endif %}
    </div>
{% endblock %}
